{% block title %} register {% endblock %}


{% if messages %}
 {%for message in messages %}
 <div class="alert alert-{{message.tag}}">{{message}}</div>
 {% endfor %}
{%endif%}
{% block content %}
{% if form.errors %}
{% for field in form %}

     {% for error in field.errors %}
          {{field.label}}: {{ error|escape }}
     {% endfor %}

{% endfor %}
{% endif %}

    <form method="post" ,enctype="multipart/form-data" >
        {% csrf_token %}
        {{form.as_p}}
        {{from.error}}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}